fuentes:

datos:https://www.ecuadorencifras.gob.ec/estadisticas-laborales-marzo-2022/
datos2:https://www.ecuadorencifras.gob.ec/informacion-censal-cantonal/
datos3:https://www.ecuadorencifras.gob.ec/vacunacion-covid-19/
datos4:https://www.kaggle.com/datasets/dannyguevara/enemdu-mensual-ecuador?select=enemdu_consumidor_2019_03.sav
Missing optional dependency 'pyreadstat'.  Use pip or conda to install pyreadstat. para el 4to

In [8]:
#importamos las librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
datos =  pd.read_csv('./datosEmpleos2021/datosIndicadoresEmpleos.csv')  
datos

,Encuesta,Periodo,Indicadores,Total,Urbana,Rural,Hombre,Mujer
0,ENEMDU*,ene-21,Población Total,1.771562e+07,1.207739e+07,5.638229e+06,8.670997e+06,9.044618e+06
1,ENEMDU*,ene-21,Población menor de 15 años,5.127554e+06,3.304292e+06,1.823262e+06,2.513994e+06,2.613560e+06
2,ENEMDU*,ene-21,Población en Edad de Trabajar (PET),1.258806e+07,8.773094e+06,3.814967e+06,6.157003e+06,6.431058e+06
3,ENEMDU*,ene-21,Población Económicamente Activa,8.346101e+06,5.429731e+06,2.916370e+06,4.847023e+06,3.499078e+06
4,ENEMDU*,ene-21,Empleo,7.900929e+06,5.052499e+06,2.848431e+06,4.632784e+06,3.268146e+06
...,...,...,...,...,...,...,...,...
265,ENEMDU*,22-Mar,Desempleo Abierto,3.544044e+05,3.073405e+05,4.706393e+04,1.815146e+05,1.728898e+05
266,ENEMDU*,22-Mar,Desempleo Oculto,4.324087e+04,3.165734e+04,1.158352e+04,2.569620e+04,1.754467e+04
267,ENEMDU*,22-Mar,Desempleo Cesante,3.152392e+05,2.765022e+05,3.873691e+04,1.617385e+05,1.535007e+05
268,ENEMDU*,22-Mar,Desempleo Nuevo,8.240611e+04,6.249556e+04,1.991055e+04,4.547236e+04,3.693375e+04
269,ENEMDU*,22-Mar,Población Económicamente Inactiva,4.491099e+06,3.440463e+06,1.050635e+06,1.410919e+06,3.080180e+06

In [11]:
datos2= pd.read_json('./datosCenso2010manabí/csvjson.json')
datos2

,Cantón,Parroquia,Casa/Villa,Departamento en casa o edificio,Cuarto(s) en casa de inquilinato,Mediagua,Rancho,Covacha,Choza,Otra vivienda particular
0,24 DE MAYO,ARQ. SIXTO DURAN BALLEN,582,4,2,1,339,39,19,1
1,24 DE MAYO,BELLAVISTA,855,3,4,7,323,28,45,1
2,24 DE MAYO,NOBOA,923,7,0,10,589,166,56,3
3,24 DE MAYO,SUCRE,"2,305",30,14,18,950,114,53,1
4,BOLIVAR,CALCETA,"6,077",307,76,43,"1,095",179,234,26
...,...,...,...,...,...,...,...,...,...,...
69,SUCRE,CHARAPOTO,"4,583",191,31,65,489,102,64,19
70,SUCRE,SAN ISIDRO,"1,937",47,17,19,548,62,104,4
71,TOSAGUA,ANGEL PEDRO GILER,"1,190",12,4,39,258,49,29,7
72,TOSAGUA,BACHILLERO,682,5,4,8,193,28,15,3
73,TOSAGUA,TOSAGUA,"4,264",239,78,119,"1,784",274,147,18

In [18]:
datos3= pd.read_xml('./datosVacunacion2021/vacunacion2021xml.xml')
datos3

,Colors,WindowHeight,WindowWidth,WindowTopX,WindowTopY,ProtectStructure,ProtectWindows,Style,Name,Table,WorksheetOptions
0,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,NaN,NaN
1,NaN,9000.0,13860.0,240.0,75.0,False,False,NaN,None,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,None,None,NaN,input,NaN,NaN

In [19]:
dato4 = pd.read_spss("./enemdu_consumidor_2019_03.sav")
dato4

ImportError: Missing optional dependency 'pyreadstat'.  Use pip or conda to install pyreadstat.